<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>services</title>
</head>
<body>
    
    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/services">Our Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contacts-Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <h2 class="services-title">Our Services</h2>
    
    <div class="services">
        <div class="items">
            <img class="img-services" src="./img/s1.png" alt="WEB DEVVELOPPER">
            <h4>WEB DEVVELOPPER</h4>
            <p>Web developer job responsibilities. Here are some examples of web developer job responsibilities: <br/>Design and development of web applications. Work with designers to display web content effectively. Write scalable, testable, well-documented code. Handle website maintenance, troubleshooting, and upgrades.</p>
        </div>        
    </div>
</body>
</html>